                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="" style="height: 641px;">
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%=image_path("camprieu0ok.JPG")%>); background-position: bottom center;">
                                        <div class="container d-flex align-items-center">
                                            <div class="col">
                                                <div class="row text-center">
                                                    <div class="col-12">
                                                        <h2 class="heading heading-xxl strong-600 text-uppercase animated" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                                            CAMPRIEU 
                                                        </h2>
                                                        <p class="lead animated" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                                            Parc national des Cévennes
                                                        </p>

                                                        <a href="http://www.cevennes-parcnational.fr/fr" data-scroll-to="#scrollToSection" class="btn btn-styled btn-lg btn-white btn-circle btn-outline mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">
                                                            

                                                            En savoir plus
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section> <div id="wrapper">
                              <h1 class="chrome" style="text-align: center">DISCO</h1>
                              <h3 class="dreams"> 30ans </h3>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h3 class="dreams"> Alexis & Maxime </h3>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>

                       </div>
                   </section>
                   

                    <section class="slice bg-black" id="scrollToSection">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    <span> 31 AOUT - 3 JUILLET </span>
                                </h3>
                            </div>
                       
                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-lighter strong-300 text-center">
                                <p>
                                   
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= image_path("meilleurdeguisementok.JPG")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">MEILLEUR DJ</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">A vos playlist. Preparez un set de 45 min pour esperer etre élu DJ camprieu 2018  </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("bbq.jpeg")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> Pot Chef  </a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white"> Avec votre groupe de potes organisez un repas et régalez le monde. Mettez les pieds sous la table le reste du temps.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("djok.JPG")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner py-4 animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> DISCO KING & DISCO QUEEN </a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white"> A vos tenues , Election du Meilleur déguisement D.I.S.C.O </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="http://www.centerblog.net/image-blog/119239-6545422-fetes-0018-bonne-fete-des-meres-a-toutes-les-mamans-" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                    Encore ?
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>

                    <section class="slice bg-black">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    
                                </h3>
                            </div>

                            
                            <span class="space-xs-xl"></span>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                               <span> <iframe src="https://drive.google.com/file/d/1a-ZWNEsHApTwHAutKKilVyBhzw6basMh/preview" width="640" height="480"></iframe></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                                <a href="#">
                                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6-u4dIwZxNc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </a>
                                            </div>

                                            <div class="text-center pt-4">
                                                <span class="heading heading-sm c-gray-light text-uppercase strong-300">Mai 27, 2018</span>
                                                <h3 class="heading heading-4 c-white strong-400 mt-2">BISOUS</h3>
                                                <p class="mt-3 c-white px-5">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="https://www.thehackingproject.org/temoignages" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                    All posts
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffr-fr.facebook.com%2FOlgaOrigine.2%2F&tabs=timeline&width=0&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                    

                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-bottom bg-black py-3">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-md-7 col-12">
                    <div class="text-xs-center text-sm-left">
                        <ul class="footer-menu">
                            <li>
                                <a href="#" style="padding-left: 0;">Home</a>
                            </li>
                            <li>
                                <a href="https://www.thehackingproject.org/about">About us</a>
                            </li>
                            <li>
                                <a href="https://www.thehackingproject.org/peer-learning">Services</a>
                            </li>
                        </ul>

                        <div class="copyright mt-1">
                            <ul class="copy-links">
                                <li>
                                    &copy; 2018 Webpixels
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/pg/thehackingproject/videos/?ref=page_internal">Vidéos</a>
                                </li>
                                <li>
                                    <a href="https://herokuapp.us18.list-manage.com/unsubscribe?u=3328fb55b4411b0aadaa63670&id=2eb741a32e">Se désinscrire</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="text-xs-center text-sm-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/thehackingproject/" class="facebook" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div>
</div><!-- END: body-wrap -->

